*{
	margin: 0px;
	padding: 0px;
}
.content{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../../../../assets/img/panel/background.jpg');
	background-size: cover;
	flex-direction: column;
}
.content .alert{
	width: 400px;
	border-radius: 0px;
}
.content form{
	width: 400px;
	background-color: white;
	border: 1px solid #1f1f1f;
}
.content form img{
	width: 200px;
}
.content form .form-control{
	border-radius: 0px;
}
.content form .btn{
	border-radius: 0px;
	margin-top: 20px;
}
.content form h1{
	font-size: 25px;
}