*{
  outline: none!important;
}
.content{
	display: grid;
	grid-template-columns: 200px 1fr;
}
.content .menu-content{
	display: block;
}
.content .menu-content li{
	padding: 20px;
	border-bottom: 1px solid #cccccc;
}
.content .cont-content{
	padding: 0px 40px;
}
.content .cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
.content .cards .card{
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.content .cards .card .card-title{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
.content .cards .card i{
	font-size: 30px;
}
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th,
table tr td, 
table tr{
	vertical-align: middle!important;
}
table tr td img{
	width: 50px;
}
form input.error, form textarea.error{
	border: 1px solid #fc3826;
}
form span.error{
	font-size: 12px;
	color: #fc3826;
}