*{
	outline: none!important;
}
.content{
	display: grid;
	grid-template-columns: 200px 1fr;
}
.content h1{
	font-size: 40px;
}
.content .menu-content{
	display: flex;
	flex-direction: column;
}
.content .menu-content li{
	padding: 20px;
	border-bottom: 1px solid #cccccc;
}
.content .cont-content{
	padding: 0px 40px;
}
.content .cards{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}
.content .cards .card{
	padding: 30px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.content .cards .card .card-title{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
.content .cards .card i{
	font-size: 30px;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th,
table tr td, 
table tr{
	vertical-align: middle!important;
}
table tr td img{
	width: 50px;
}
form input.error, form textarea.error{
	border: 1px solid #fc3826;
}
form span.error{
	font-size: 12px;
	color: #fc3826;
}
.products_cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
.products_cards .product_card{
	display: flex;
	flex-direction: column;
	border: 1px solid #dedede;
	justify-content: space-between;
}
.products_cards .product_card .product_image{
	overflow: hidden;
	max-height: 300px;
}
.products_cards .product_card .product_image img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: center;
}
.products_cards .product_card .product_content{
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.products_cards .product_card .product_content .product_title, 
.products_cards .product_card .product_content .product_title a{
	font-size: 16px;
	color: #1a1a1a;
	text-decoration: none;
	margin-bottom: 20px;
}
.products_cards .product_card .product_content .product_title a:hover{
	text-decoration: underline;
}
.card-simple{
	border: 1px solid #d4d2d2;
	border-radius: 5px;
	margin-bottom: 20px;
}
.card-simple .card-header{
	background-color: #d4d2d2;
	padding: 15px;
}
.card-simple .card-body{
	background-color: white;
	padding: 20px;
}
.status-request{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	margin-bottom: 40px;
}
.status-request .status-body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.status-request .status-body .status-circle{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid #d4d2d2;
	margin-bottom: 20px;
	color: #1c1c1c;
	background-color: #f2f2f2;
}
.status-request .status-body .checked{
	border-color: #007024;
	background-color: #00912e;
	color: white;
}

@media (max-width: 1000px) {
	.content{
		grid-template-columns: 1fr;
	}
	.menu-content{
		margin-bottom: 40px;
	}
	.cont-content {
		padding: 0px!important;
	}
	.cont-content h1 {
		font-size: 20px;
	}
	.content .cards {
		grid-template-columns: 1fr;
	}
	.products_cards{
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 500px) {
	.products_cards{
		grid-template-columns: 1fr;
	}
}