table tr td, 
table tr{
  vertical-align: middle!important;
}
table tr td img{
  width: 50px;
}
form input.error, form textarea.error{
  border: 1px solid #fc3826;
}
form span.error{
  font-size: 12px;
  color: #fc3826;
}
.bg-whatsapp{
  background-color: #57BA63;
  color: white;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 12px;
  margin-top: -12px;
}
.bg-twitter{
  background-color: #2AA9E0;
  color: white;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 12px;
  margin-top: -12px;
}

.bg-whatsapp:hover,
.bg-whatsapp:focus,
.bg-twitter:hover,
.bg-twitter:focus{
  transform: none!important;
  width: auto!important;
  height: auto!important;
  color: white!important;
  padding: 4px 8px!important;
  font-size: 12px!important;
  font-weight: bold!important;
}
.post-details-content .bold{
  font-weight: bold!important;
}
.post-details-content.italic{
  font-style: italic!important;
}
.post-details-content .underline{
  text-decoration: underline!important;
}
.post-details-content a:hover{
  text-decoration: underline;
}

blockquote{
  font-size: 18px;
  padding-left: 30px;
  border-left: 4px solid #eb4034;
}
.lgpd-container{
  box-sizing: border-box;
  padding: 20px;
  width: 90%;
  margin: 20px;
  margin-left: 5%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: rgba(210, 23, 55, 0.95);
  color: white;
  z-index: 99999999999;
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-column-gap: 10px;
  align-items: center;
  font-size: 15px;
  border-radius: 10px;
}
.lgpd-container p{
  padding: 0px;
  margin: 0px;
}
.lgpd-container a{
  color: white;
  text-decoration: underline;
}
.lgpd-container button{
  padding: 8px 15px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

@media screen and (max-width: 1200px){
  .lgpd-container{
    grid-template-columns: 1fr 220px;
    font-size: 12px;
  }
}

.input-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.input-container form{
  display: grid;
  grid-template-columns: 1fr 100px;
}
.input-container form input,
.input-container form select,
.input-container form button{
  padding: 10px;
  border: 1px solid #cfcfcf;
}
.input-container form button{
  background-color: #005bdb;
  border: 1px solid #005bdb;
  color: white;
}

.frete-info{
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #cfcfcf;
}
.result-frete,
.result-coupon{
  margin-top: 10px;
}
.form-control{
  border-radius: 0px!important;
}
.login-types{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.login-types a{
  padding: 15px;
  color: white;
}
.login-types a i{
  font-size: 20px;
  margin-right: 10px;
}
.product-details .product-options .product-color{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #dedddc;
	display: inline-block;
	cursor: pointer;
}
.product-details .product-options .product-size{
	display: inline-block;
	padding: 5px;
	border: 1px solid #dedddc;
	background-color: #e6e6e6;
	border-radius: 20px;
	font-size: 12px;
	cursor: pointer;
	min-width: 30px;
	min-width: 30px;
	text-align: center;
	line-height: 19px;
	font-weight: bold;
}